<form name="albumForm">
  <div class="mb-3">
    <label for="albumTitle" class="form-label">Title</label>
    <input type="text" class="form-control" id="albumTitle">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>

<script src="./js/album.js"></script>