<form name="registrationForm">
  <div class="mb-3">
    <label for="registrationName" class="form-label">Name</label>
    <input type="text" class="form-control" id="registrationName">
  </div>
  <div class="mb-3">
    <label for="registrationEmail" class="form-label">Email</label>
    <input type="email" class="form-control" id="registrationEmail" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="registrationPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="registrationPassword">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Самая крутая галка</label>
  </div>
  <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>

<script src="./js/registration.js"></script>